.main-content {
	margin: 0 auto;
	max-width: 75em;
	@extend %clearfix;
}
.region-content {
	padding: $vertical-spacing 0 3em 0;
	.layout-one-sidebar & {
		@include breakpoint($bp--medium-up) {
			float: right;
			width: 75%;
		}
	}
}

.region-inner {
	margin: 0 auto;
	max-width: 75em;
	padding: 0 $horizontal-spacing;
}

// Temporary layout styling

// Homepage events block
.block-views-blockevents-block-1 {
	@include breakpoint($bp--medium-up) {
		float: left;
		padding-right: $horizontal-spacing * 2;
		width: 66%;
	}
}
// Homepage sermons block
.block-views-blocksermons-block-1 {
	@include breakpoint($bp--medium-up) {
		float: left;
		width: 33%;
	}
}

.aside-content {
	.layout-one-sidebar & {
		@include breakpoint($bp--medium-up) {
			padding-top: 3em;
			width: 25%;
		}
	}
}
.region-aside-content {
	margin-bottom: $vertical-spacing * 3;
}