.page-header {
	background: $color--primary url(../assets/images/banner-1.jpg) no-repeat;
	background-size: cover;
	color: white;
	position: relative;
	a {
		color: white;
		&.is-active {
			color: white;
		}
	}
	ul.menu {
		@extend %inline-list;
		a.is-active {
			color: white;
		}
	}
}

.branding {
	padding: 3em 0 1em 0;
	text-align: center;
	&__site-logo {
		margin: 0 auto;
		max-width: 7em;
	}
	&__site-title {
		@extend %hide;
	}
	&__site-slogan {
		@extend %hide;
		font-family: $font--family--alternate;
		text-shadow: 0px 0px 10px black;
	}
	.path-frontpage & {
		&__site-logo {
			max-width: 80%;
			width: 22em;
		}
		&__site-slogan {
			@extend %unhide;
			font-size: 1.5em;
			font-weight: normal;
			margin-top: 1em;
			word-spacing: 5em;
		}
	}
}

.region-navigation {
	background-color: transparentize($color--primary, .3);
	.menu {
		margin: 0;
		text-align: center;
	}
	.menu-item {
		padding: 0;
		a {
			display: block;
			padding: .5em 1.5em;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				background-color: $color--secondary;
			}
		}
	}
}
.menu--social-menu {
	.menu-item {
		padding-right: $horizontal-spacing / 2;
	}
  .email {
  	@include icon(mail-alt);
  	@extend %icon-hide-text;
  }
  .facebook {
  	@include icon(facebook);
  	@extend %icon-hide-text;
  }
}

.region-secondary-navigation {
	@extend %colors--light-on-dark;
	background-color: transparentize($color--primary, .3);
	@include breakpoint($bp--medium-up) {
		position: absolute;
		text-align: right;
		top: 0;
		width: 100%;
	}
	.block {
		@include breakpoint($bp--medium-up) {
			display: inline-block;
		}
	}
	a {
		padding-right: $vertical-spacing;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.menu--secondary-menu {
	float: left;
}