
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-download-cloud:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-volume-up:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-angle-left:before { content: '\e811'; } /* '' */
.icon-angle-right:before { content: '\e812'; } /* '' */
.icon-globe:before { content: '\e813'; } /* '' */
.icon-align-justify:before { content: '\e814'; } /* '' */
.icon-facebook-squared:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-facebook-official:before { content: '\e817'; } /* '' */
.icon-twitter-squared:before { content: '\e818'; } /* '' */
.icon-twitter:before { content: '\e819'; } /* '' */
.icon-youtube:before { content: '\e81a'; } /* '' */
.icon-youtube-squared:before { content: '\e81b'; } /* '' */
.icon-users-1:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\e81d'; } /* '' */
.icon-info-circled-1:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-chat-1:before { content: '\e820'; } /* '' */
.icon-vcard:before { content: '\e821'; } /* '' */
.icon-location-1:before { content: '\e822'; } /* '' */
.icon-mic:before { content: '\e823'; } /* '' */
.icon-clock-1:before { content: '\e824'; } /* '' */