// Apply to ul and ol as needed
%inline-list {
	list-style: none none;
	padding: 0;
  li {
  	display: inline-block;
  }
}

// Accessibly hide an element
%hide {
	clip: rect(1px,1px,1px,1px);
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;

	margin: 0;
	padding: 0;
}
%unhide {
	clip: auto;
	position: static;
	left: auto;
	width: auto;
	height: auto;
	overflow: visible;
}

// Clearfix
%clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

// Light on dark background
%colors--light-on-dark {
	background-color: $color--primary;
	color: $white;
	a {
		color: $white;
		&:hover {
			color: lighten($color--secondary, 40%);
		}
	}
}

// More link
%more-link {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:after {
		content: ' \25b6';
		font-size: .75em;
	}
}

// Icons
%icon-hide-text {
	display: block;
	height: 1em;
	overflow: hidden;
	width: 1em;
}