@import url("//fonts.googleapis.com/css?family=Lato:400,700,900");

@mixin body-copy() {
	color: $color--primary;
  font-family: $font--family--regular;
}

@mixin h1() {
  font-family: $font--family--regular;
}

@mixin h2() {
  font-family: sans-serif;
}
