* {
  box-sizing: border-box;
}

body {
  @include body-copy();
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

a {
  color: $color--secondary;
  transition:
    background-color $transition-time-style,
    border-color $transition-time-style,
    color $transition-time-style
  ;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  border-left: solid 3px $color--gray;
  margin-left: $spacing;
  padding-left: $spacing;
}

img {
  max-width: 100%;
  height: auto;
}
 
